/*
Main Color : red;
*/
*{
  margin:0;
  padding: 0;
}
.container{
  max-width: 900px;
  width: 100%;
}
.mainColor{
  color : red;
}
body{
  background-color: #030b31;
  display: flex;
  justify-content: center;
}
